
/* PRIMEIRO CONTEÚDO */
.container1 {
    background-color:#FFF1E6;
    text-align: center;
    padding: 50px 20px;
}

.container1 img {
    width: 300px;
    height: 200px;
}

.conteudoSubt {
    color: #424242; 
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'inter',sans-serif;
}

.conteudoTexto {
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px;
    color: #424242; 
    font-family: 'inter',sans-serif;
}

/* SEGUNDO CONTEÚDO */
.container2 {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px;
    gap: 30px;
    justify-content: center;
    background-color:#FFF1E6;
    font-family: 'inter',sans-serif;
}


.container2 .texto {
    flex: 1 1 300px;
    max-width: 600px;
    font-family: 'inter',sans-serif;
}

.container2 h1 {
    color:#FF7043;
    font-family: 'poppins',sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
}

.container2 h4 {
    color: #424242; 
    margin-bottom: 15px;
    font-family: 'inter', sans-serif;

}

.cards-row img {
    width: 380px;       
    height: auto;
    border-radius: 12px;
    display: block;
    transition: transform 0.3s ease; 
}
.cards-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card-link {
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.card-link:hover img {
    transform: scale(1.1); 
}

.card-img {
    width: 240px;      
    height: auto;
    border-radius: 12px;
    display: block;
}

/* CARROSSEL */
.carousel {
    position: relative;
    width: 100vw;
    height: 520px;
    overflow: hidden;
    border-radius: 10px;
    border-top: 10px solid #FF7043;
    border-bottom: 10px solid #FF7043;
}


.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    cursor: pointer; 
    position: absolute;
    top: 0;
    left: 0;
    display: none; 
}

.carousel img.active {
    display: block;
}

.carousel img:hover {
    cursor: pointer;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FF7043;
    border: none;
    color: white;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel button.prev {
    left: 15px;
}

.carousel button.next {
    right: 15px;
}

.carousel button:hover {
    background-color: #FF8A50;
    transform: translateY(-50%) scale(1.1);
}


/* SEÇÃO DE TEMAS */
.temas-section {
    background-color: #FBCEB1;
    padding: 50px 20px;
    text-align: center;
}   


.temas-section h3 {
    font-family: 'poppins',sans-serif;
    margin-top: 30px;
    font-size: 40px;
}

.temas-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tema-card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    width: 400px;
    height: 500px;
    transition: all 0.3s;
    cursor: pointer;
    font-family: 'poppins',sans-serif;
}

.tema-card:hover {
    background-color:  #E64A19;
    color: #FBCEB1;
}


.tema-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-bottom: 10px solid #FF7043;;
}

.tema-card img:hover{
    border-bottom: none;
}

.tema-card .card-body {
    padding: 10px;
    text-align: center;
}

.tema-card .card-body h2 {
    font-size: 32px;
    margin-top: 20px;
    font-weight: 900;
    color: #FF7043;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'poppins',sans-serif;
}

.tema-card {
    display: block;
    text-decoration: none;
    color: inherit;
}


/* CARDS DE PERSONAGENS */
.personagens-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #FFF1E6;
}

.personagens-title {
    max-width: 800px;       
    margin: 0 auto 40px auto;
    text-align: center;
    font-family: 'inter',sans-serif;
}

.personagens-title h1 {
    font-family: 'poppins', sans-serif;
    font-size: 50px;      
    margin-bottom: 20px;
    color: #FF7043;
}

.personagens-title p {
    font-size: 18px;
    line-height: 1.6;
    color: #424242;
}

/* GRID CARDS */
.personagens-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    justify-items: center;  
    max-width: 1200px;
    margin: 0 auto;
}

.personagem-card {
    width: 220px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.personagem-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}



    /*Rodapé*/
    .rodape {
    background-color: rgb(0, 119, 255);
    padding: 20px;
    text-align: center;
    }

    .rodape .rodapelink {
    display: inline-block !important;  
    padding: 6px 12px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    }

    .rodape .rodapelink:hover {
    background: white;
    color: rgb(0, 119, 255);
    }


    /* RESPONSIVO */
@media (max-width: 768px) {
    .container2 {
        flex-direction: column;
        align-items: center;
    }

    .cards-row {
        justify-content: center;
    }
}