.cards-row {
  display: flex;
  flex-wrap: wrap;
  gap: 35px; 
  justify-content: center;
}

.card-link {
  display: inline-block;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.card-link:hover {
  transform: scale(1.10);
}

.card-img {
  width: 100%;      
  max-width: 600px;   
  height: auto;
  border-radius: 18px;  
  display: block;
  transition: transform 0.3s ease;
}

.pagina-section h2 {
  color: #424242;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 5px solid #FF7043;
  padding-bottom: 10px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  font-family: 'poppins',sans-serif;
}

.pagina-section h3 {
  color: #FF7043;
  font-weight: 700;
  font-size: 2.10rem;
  margin-bottom: 15px;
  font-family: 'poppins',sans-serif;
}

.pagina-section h4 {
  color: #424242;
  font-weight: 700;
  font-size: 1.50rem;
  margin-bottom: 15px;
  font-family: 'poppins',sans-serif;
}


.pagina-section p {
  color: #333333;
  font-family: 'inter',sans-serif;
  text-align: justify;
}
