
/*barra de navegação*/
.navbar {
    font-family: arial;
    background-color:#ffae00;
}


.navbar-brand {
    margin-left: 10%; /*logo da nav*/
}


.titulo {
    color:white;    /*titulo na barra*/
}



.nav-link {
    color:white;
    font-size: 20px;   /*links na nav*/
}
.nav-link:hover {
    color:black;

}


.dropdown-menu {
    border:2px solid black;  /*Dropdown da nav*/
    background:white;
    
}
.dropdown-item {
    color:black;

}

.dropdown-item:hover {
    color:lightblue;
    background:black;

}


.btn-outline-info {
    background:white; /*barra de pesquisa*/

}




/*primeiro conteudo*/
.container1 {
    background-color:lightblue;
    padding:50px;
}

.conteudoTitulo {
    color:rgb(0, 119, 255);
    font-size:60px;
    font-family: cursive;
    font-weight: bold;
}
 
.conteudoSubt {
    color:white;
    font-size:30px;
}

.conteudoTexto {
  max-width: 600px;         
  margin: 0 auto;           
  font-size: 18px;
  line-height: 1.6;         
  color:black;
  word-wrap: break-word;    
}



/*segundo conteudo*/
.conteudoTitulo2 {
    color:rgb(0, 119, 255);
    font-size:60px;
    font-family: cursive;
    font-weight: bold;

}
.conteudoSubt {
    color:black;
}


/*links para os temas*/
.temas-section {
    background-color:lightblue;
}

.titulo-temas {
    color:black;
    font-family:cursive;
    background:white;
    border-radius:20px;
}
.cardtemas {
  margin: 15px auto;
  border-radius: 20px;
  border:10px solid black;
  background-color:white;    
}

.cardtemas:hover {
  border:none;
}

.borda-img {
  border-bottom: 5px solid black;   
  height: 200px;
  object-fit: cover;
}

.card-title h1 {
  font-family: cursive;
  margin-top: 10px;
  color:black;          
 
}
.card-text {
  line-height: 1.5;
  padding: 0 10px;
  font-size:medium;
}

a.text-decoration-none {
  display: inline-block;  /* limita a área clicável ao tamanho real do card */
  width: auto;
}





/*Rodapé*/
.navbar {
    background:rgb(25, 10, 235);
}

.titulorodape {
    color:white;
}
