
    /*barra de navegação*/
    .navbar-nav {
    margin-left:13%;
    }

    .barra {
    background-color:white !important;
    border-bottom: 5px solid rgb(0, 119, 255);
    }

    .navbar-brand {
    margin-left: 10%; /*logo da nav*/
    }

    .navbar .nav-link {
    color: rgb(0, 119, 255);
    font-size: 20px;
    padding: 8px 15px;   /*links na barra*/
    border-radius: 10px;        
    display: inline-block;     
    }

    .navbar .nav-link:hover {
    color: white;
    background: rgb(0, 119, 255);
    border-radius: 10px;       
    }

    .dropdown-menu {
    border:2px solid black;  /*Dropdown da nav*/
    background:white;
    }

    .dropdown-item {
    color:black;
    }

    .dropdown-item:hover {
    color:white;
    background:rgb(0, 119, 255);
    }



    /*primeiro conteudo*/
    .container1 {
    background-color:lightblue;
    padding:50px;
    }

    .conteudoTitulo {
    color:rgb(0, 119, 255);
    font-size:60px;
    font-family: cursive;
    font-weight: bold;
    }

    .conteudoSubt {
    color:white;
    font-size:30px;
    }

    .conteudoTexto {
    max-width: 600px;         
    margin: 0 auto;           
    font-size: 18px;
    line-height: 1.6;         
    color:black;
    word-wrap: break-word;    
    }



    /*segundo conteudo*/
    .conteudoTitulo2 {
    color:rgb(0, 119, 255);
    font-size:60px;
    font-family: cursive;
    font-weight: bold;
    }

    .conteudoSubt {
    color:black;
    }



    /*links para os temas*/
    .temas-section {
    background-color:lightblue;
    }

    .titulo-temas {
    color:black;
    font-family:cursive;
    background:white;
    border-radius:20px;
    }

    .cardtemas {
    margin: 15px auto;
    border-radius: 20px;
    background-color:white;    
    }

    .cardtemas:hover {
    border:10px solid black;
    }

    .borda-img {
    border-bottom: 5px solid black;   
    height: 200px;
    object-fit: cover;
    }

    .card-title h1 {
    font-family: cursive;
    margin-top: 10px;
     color:black;          
    }

    .card-text {
    line-height:1.5;
    padding:10px;
    font-size:medium;
    }

    a.text-decoration-none {
    display: inline-block; 
    width: auto;
    }


    /*cards*/
    .cards{
    color: rgb(0, 119, 255);
    font-family: cursive;
    font-size: 32px;      /*FALTA ARRUMAR AQUI*/
    margin-bottom: 40px;
    border-bottom: 10px solid white;
    }



    /*Rodapé*/
    .rodape {
    background-color: rgb(0, 119, 255);
    padding: 20px;
    text-align: center;
    }

    .rodape .rodapelink {
    display: inline-block !important;  
    padding: 6px 12px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    }

    .rodape .rodapelink:hover {
    background: white;
    color: rgb(0, 119, 255);
    }