.banner {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: block;
}

.banner img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-banner-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 28px;
    font-style: bold;
    color: #fff;
    text-decoration: none;
}

.pagina-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    margin: 40px auto;
    max-width: 1300px;
    width: 100%;
}

.pagina-text {
    width: 100%;
}

.pagina-text h2 {
    margin-bottom: 16px;
    color:  rgb(0, 119, 255);;
}

.pagina-text p {
    font-size: 18px;
    line-height: 1.6;
}

.pagina-temas {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.tema {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.tema-texto {
    flex: 0 0 40%;
}

.tema h3 {
    color: #333;
    margin-bottom: 8px;
}

.tema-imagens {
    flex: 0 0 60%;
    display: flex;
    gap: 8px;
    overflow: hidden;
}

.tema-imagens img {
    flex: 0 0 auto;
    width: 33%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.tema-imagens img:hover {
    transform: scale(1.15);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}



.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.botao-tema {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 119, 255); 
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    border:3px solid black;
}

/* Efeito ao passar o mouse */
.botao-tema:hover {
    background-color: white;
    color:rgb(0, 119, 255); 
    border:none;

}
